body {
    font-family: Arial, sans-serif;
    background-image: url('guitar.jpg');
    background-repeat: no-repeat;
    background-position: 45%;
    margin: 0;
    padding: 0;
}

h1{
    color: #c8f4a4;
    font-style: italic;
}

img{
    width: 280px;
    border: 10px solid rgb(92, 69, 117);
}

.container {
    text-align: center;
    margin-top: 50px;
}

.cake-image {
    width: 200px;
    margin-bottom: 20px;
}

.message {
    font-size: 18px;
    color: #fff4f4;
    margin-bottom: 20px;
}

.btn {
    background-color: #ef0505;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: #45a049;
}
